.header{
    .title{
        padding: 30px;
        margin-bottom: 30px;
        background-color: lightgrey;
        text-align: center;

            .btn{
                text-align: center;
            }
        
            h2{
                color: black;
            }

            h3{
                color: black;
            }
        }
}
.text{
    padding-top: 10px;
}
.main{
    .row{

       .col{    
         
        text-align: center;
       }
    }
}

.footer{
    margin-top: 15px;
    padding: 15px;

    .alert{
        text-align: center;
    }
}